@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: DupletRounded;
  src: url(../public/font/fonts/font1/DupletRounded-Regular.otf)
}

@font-face {
  font-family: DupletRounded-Thin;
  src: url(../public/font/fonts/font1/DupletRounded-Thin.otf)
}

.active{
  color: #D53C6F;
}

