@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: Goodly;
  src: url(../public/font/fonts/goodly-medium.otf)
}

@font-face {
  font-family: Goodly Sans;
  src: url(../public/font/fonts/goodly-light.otf)
}

.active{
  color: #D53C6F;
}

